*.so
*.dylib
*.pyc
*.swp
.DS_Store
deps/*
luajit/*

.cache
tests/.cache/
tests/servroot/
tests/luajit/

nginx/client_body_temp/*
nginx/conf/*
nginx/html/*
nginx/logs/*
nginx/fastcgi_temp/*
nginx/proxy_temp/*
nginx/sbin/*
nginx/scgi_temp/*
nginx/uwsgi_temp/*

!nginx/conf/nginx.conf
!nginx/conf/slardar*
